.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height:calc(100vh - 64px )  ;
    object-fit: cover;
  }
  .swiper-pagination-bullet-active{
    color:#d95a13ff!important;
  }
  
   .slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide-content h2{
  font-size: 60px;
  color: #d95a13ff;
  text-align: left;
}
.slide-content p{
  font-size: 26px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .swiper-slide img {
    height:auto  ;
  }
}